<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Making to-do list -->
    <h1>Todo List: </h1>
    <ul class="todoItems">
        <!-- Pulling items for to-do list -->
    <% for(let i=0; i < items.length; i++) {%>
        <li class="item">
            <!-- Gathering completed items -->
            <% if(items[i].completed === true) {%>
                <span class='completed'><%= items[i].thing %></span>
            <% }else{ %>
                <span><%= items[i].thing %></span>
            <% } %>    
            <!-- Setting the trash can to delete items -->
            <span class='fa fa-trash'></span>
        </li>
    <% } %>
    </ul>

    <!-- Adding what's left on the to-do list -->
    <h2>Left to do: <%= left %></h2>

    <!-- Add a to-do item -->
    <h2>Add A Todo:</h2>

    <!-- Making a form to make a post request to add a to-do item. 
        It sends this to the server that's waiting for the /addto request -->
    <form action="/addTodo" method="POST">
        <!-- This gathers what the to-do item is to send for the post request -->
        <input type="text" placeholder="Thing To Do" name="todoItem">
        <!-- The submit button triggers this post request -->
        <input type="submit">
    </form>
    

    <script src='js/main.js'></script>
</body>
</html>
